@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* 版心 */
  .inner {
    @apply max-w-[1400px] mx-auto;
  }
  /* 内容卡片通用样式 */
  .card-common {
    @apply bg-white border border-border rounded-xl shadow-[0_8px_16px_-4px_rgba(44,45,48,0.047)] overflow-hidden;
  }
}

body {
  background-color: #f7f9fe;
  color: #4c4948;
}

* {
  transition-duration: 300ms;
}
